@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: black;
    --cor-secundaria: #f6f6f6;
    --cor-tercearia: #22d4fd;
    --botao-hover: #272727;

    --fonte-destaque: "Krona One", sans-serif;
    --fonte-texto: "Montserrat", sans-serif;
}