@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


:root {
    --cor-primaria: #101010;
    --cor-secundaria: #dddddd;
    --cor-tercearia: #c4ff58;
    --botao-hover: #2a2c29;

    --fonte-titulo: "Doto", sans-serif;
    --fonte-texto: "Red Hat Display", sans-serif;
    --fonte-formulario: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--cor-primaria);
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.cabecalho {
    font-family: var(--fonte-titulo);
    font-optical-sizing: auto;
    font-size: 50px;
    color: var(--cor-tercearia);
    padding: 5% 0 0 0; /* Ajuste o padding ou use valores mais equilibrados */
    text-align: center;
    gap: 10px;
}
.cabecalho__subtitulo{
    font-family: var(--fonte-formulario);
    color: var(--cor-secundaria);
    font-size: 15px;
}
.titulo {
    font-family: var(--fonte-titulo); /* Use uma fonte definida, como var(--fonte-titulo) */
    font-size: 30%;
}

/* .aparencia__geral{

} */